{% ckan_extends %}

{% block styles %}
  {{ super() }}
  {% asset 'ogdmunich_assets/ogdmunich-css' %}
<!-- BEGIN etracker Tracklet 4.0.20140101 sync -->
<script type="text/javascript">
    var et_pagename = "{{h.full_current_url()}}";
    var et_areas = "MDE/de/rathaus/open-data-portal,redaktionelle Seite";
    var et_target = "";
</script>
<script id="_etLoader" type="text/javascript" charset="UTF-8" data-secure-code="Shbe3K" src="//static.etracker.com/code/e.js"></script>

<noscript><link rel="stylesheet" media="all" href="//www.etracker.de/cnt_css.php?et=Shbe3K&amp;v=4.0&amp;java=n&amp;et_easy=0&amp;et_pagename={{h.full_current_url()}}&amp;et_areas=MDE/de/rathaus/open-data-portal,redaktionelle Seite&amp;et_ilevel=0&amp;et_target=,0,0,0&amp;et_lpage=0&amp;et_trig=0&amp;et_se=0&amp;et_cust=0&amp;et_basket=&amp;et_url=&amp;et_tag=&amp;et_sub=&amp;et_organisation=&amp;et_demographic=" /></noscript>

<!-- END etracker Tracklet 4.0.20140101 sync -->
{% endblock %}
 

