{% ckan_extends %}

    {% block footer_content %}
	<div class="row" style="margin-top: 64px;">
	<div class="col-md-4">
		<div class="footer-headline"><h1>Open Data Portal M&uuml;nchen</h1> </div>
		<br>
		<div class="footer-content footer-mediaicons">
			<a href="localhost:5000" target="_blank">
				<img src="/images/facebook.png" alt="facebook">
			</a>
			<a href="localhost:5000" target="_blank" style="margin-left: 20px;">
				<img src="/images/instagram.png" alt="instagram">
			</a>
			<a href="localhost:5000" target="_blank" style="margin-left: 20px;">
				<img src="/images/youtube.png" alt="youtube">
			</a>
			<a href="localhost:5000" target="_blank" style="margin-left: 20px;">
				<img src="/images/twitter.png" alt="twitter">
			</a>
		</div>
	</div>
	<div class="col-md-4 middle">
		<div class="footer-headline"><h2>Rechtliches</h2></div>
		<br>
		<div class="footer-content">
			<ul class="unstyled">
				<li><a href="/pages/nutzungsbedingungen">Nutzungsbedingungen</a></li>
				<li><a href="/pages/glossar">Barrierefreiheit</a></li>
				<li><a href="/pages/hilfe">Datenschutz</a></li>
				<li><a href="/pages/links">Impressum</a></li>
			</ul>
		</div>
	</div>

	<div class="col-md-4 attribution">
		<div class="footer-headline"><h2>Kontakt</h2></div>
		<br>
		<div class="footer-content">
			<h4>Landeshauptstadt M&uuml;nchen</h4>
			<p>IT-Referat, E- und Open Government</p>
			<br>
			<div class="glyphicon-envelope"> <a href="mailto:egovernment@muenchen.de"> egovernment@muenchen.de</a></div>
		</div>
	</div>

    {% endblock %}
