
{% ckan_extends %}

{% set dataset_type = h.default_package_type() %}

{% block header_wrapper %} 


<header class="navbar navbar-static-top masthead">
{% block header_debug %} 
{% endblock %}
<div id="header" class="">
<div class="container">
        <a id="logo" title="muenchen.de/opendata" href="http://www.muenchen.de/opendata" alt="Home muenchen.de/opendata">muenchen.de/opendata - Das OpenData-Portal der LHM M&uuml;nchen</a>

      {% block header_site_search %}
<form class="section site-search simple-input" action="{% url_for dataset_type ~ '.search' %}" method="get">
        <div class="field" style="float:right;">
          <label for="field-sitewide-search">{% block header_site_search_label %}{{ _('Search Datasets') }}{% endblock %}</label>
          <input id="field-sitewide-search" type="text" class="form-control" name="q" placeholder="{{ _('Search') }}" />
          <button class="btn-search" type="submit"><i class="fa fa-search"></i></button>
        </div>
      </form>
</div>

      {% endblock %}
</div>


 <div class="container navcontainer">
    <div class="navbar-right">
      <button data-target="#main-navigation-toggle" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <span class="fa fa-bars"></span>
      </button>
    </div>
    <hgroup class="{{ g.header_class }} navbar-left">
    </hgroup>

    <div class="collapse navbar-collapse" id="main-navigation-toggle">
      {% block header_site_navigation %}
      <nav class="section navigation">
        <ul class="nav nav-pills">
          {% block header_site_navigation_tabs %} 
            {% set org_type = h.default_group_type('organization') %}
            {% set group_type = h.default_group_type('group') %}

	
                  {% if c.userobj %}
                        {{ h.build_nav_main(
                                ('home.index', _('Home')),
                                (dataset_type ~ '.search', h.humanize_entity_type('package', dataset_type, 'main nav') or _('Datasets'), ["dataset", "resource"]),
                                (org_type ~ '.index',
                                  h.humanize_entity_type('organization', org_type, 'main nav') or _('Organizations'), ['organization']),
                                (group_type ~ '.index',
                                  h.humanize_entity_type('group', group_type, 'main nav') or _('Groups'), ['group']),
                                ('showcase_blueprint.index', _('Showcases'))
                            ) }}
                {% else %}
                        {{ h.build_nav_main(
                          ('home.index', _('Home')),
                          (dataset_type ~ '.search', h.humanize_entity_type('package', dataset_type, 'main nav') or _('Datasets'), ["dataset", "resource"]),
                          (org_type ~ '.index',
                            h.humanize_entity_type('organization', org_type, 'main nav') or _('Organizations'), ['organization']),
                          (group_type ~ '.index',
                            h.humanize_entity_type('group', group_type, 'main nav') or _('Groups'), ['group'])
                        )}}
                {% endif %}


	{% endblock %}
        </ul>
      </nav>
      {% endblock %} 
    </div>
  </div>

</header>
{% block header_account %}

        {% if c.userobj %}
                {{ super() }}
        {% endif %}
{% endblock %}

{% endblock %}




