
{% ckan_extends %}
{% block header_wrapper %} 


<header class="navbar navbar-static-top masthead">
{% block header_debug %} 
{% endblock %}
<div id="header" class="">
  <div class="container">
          <a id="logotext" title="muenchen.de/opendata" href="http://www.muenchen.de/opendata" alt="Home muenchen.de/opendata">Open Data Portal</a>
          <a id="logo" ><img src="/images/LHM_logo.png" alt="Offizielle Website der Stadtverwaltung München" title="Offizielle Website der Stadtverwaltung München" width="139"></a>
  </div>
</div>


 <div class="container navcontainer">
    <div class="navbar-right">
      <button data-target="#main-navigation-toggle" data-toggle="collapse" class="navbar-toggle collapsed" type="button" aria-label="expand or collapse" aria-expanded="false">
        <span class="sr-only">{{ _('Toggle navigation') }}</span>
        <span class="fa fa-bars"></span>
      </button>
    </div>
    <hgroup class="{{ g.header_class }} navbar-left">
    </hgroup>

    <div class="collapse navbar-collapse" id="main-navigation-toggle">
      {% block header_site_navigation %}
      <nav class="section navigation">
        <ul class="nav nav-pills">
          {% block header_site_navigation_tabs %} 
	
 {% if c.userobj %}
                        {{ h.build_nav_main(
                                ('dataset.search', _('Datasets')),
                                ('organization.index', _('Organizations')),
                                ('group.index', _('Groups')),
                                ('showcase_blueprint.index', _('Showcases'))
                        ) }}
                {% else %}
                        {{ h.build_nav_main(
                                ('dataset.search', _('Datasets')),
                                ('organization.index', _('Organizations')),
                                ('group.index', _('Groups'))
                        )}}
                {% endif %}


	{% endblock %}
        </ul>
      </nav>
      {% endblock %} 
    </div>
  </div>

</header>
{% block header_account %}

        {% if c.userobj %}
                {{ super() }}
        {% endif %}
{% endblock %}

{% endblock %}




