{% ckan_extends %}

{% block ogdmunich_package_title %}

        {% if pkg.private %}
          <span class="dataset-private label label-inverse pull-right">
            <i class="fa fa-lock"></i>
            {{ _('Private') }}
          </span>
        {% endif %}
        {% block package_archive_notice %}
          {% if is_activity_archive %}
            <div class="alert alert-danger">
              {% trans url=h.url_for(pkg.type ~ '.read', id=pkg.id) %}
              You're currently viewing an old version of this dataset. To see the
              current version, click <a href="{{ url }}">here</a>.
              {% endtrans %}
            </div>
          {% endif %}
        {% endblock %}
        <div class="ogdmunich_dataset_heading">
        <h2>
            {{ h.dataset_display_name(pkg) }}
            {% if pkg.state.startswith('draft') %}
              [{{ _('Draft') }}]
            {% endif %}
            {% if pkg.state == 'deleted' %}
              [{{ _('Deleted') }}]
            {% endif %}
        </h2>
        <ul>
          <a href="/api/3/action/package_show?id={{ pkg_dict.id }}" title="Dataset-API"target="_blank"><li><i class="fa fa-bookmark" aria-hidden="true"></i></li></a>
          <a href="/catalog.rdf?fq=name:{{ pkg_dict.name }}" title="DCAT/XML Representation" target="_blank"><li><i class="fa fa-share-alt" aria-hidden="true"></i></li></a>
          <a href="{{ h.url_for('%s.read' % pkg.type, id=pkg.name) }}" title="Permalink" ><li><i class="fa fa-eye" aria-hidden="true"></i></li></a>
          <a href="mailto:?body={{ h.this_site_url() }}{{ h.url_for('%s.read' % pkg.type, id=pkg.name) }}" title="{{ _('Mail with Dataset') }}"><li><i class="fa fa-arrow-down" aria-hidden="true"></i></li></a>
        </ul>
        </div>
        <p class="ogdmunich_last_updated">last updated 
        {% if pkg_dict.metadata_modified %}
        {% snippet 'snippets/ogdmunich_date.html', datetime_obj=pkg_dict.metadata_modified %}
        {% endif %}
        </p>

{% endblock %}

{% block secondary_content %}
{% endblock %}